<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="utf-8">
    <title>Image Uploader</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

  </head>
  <body>
    <div class="container">
      <div class="wrapper">
        <div class="image">
            <img src="{{p}}"/>
        </div>
      </div>
    </div>
   <p>{{cap}}</p>

  </body>
</html>
